.attendanceTableSearch{
    height: 35px;
        border: 1px solid #ddd;
        font-size: 12px;
}
.AttendanceMain {
  display: flex;
  flex-direction: column;
  
  width: 100%;
  



}



.AttendanceSubMain{
 
  width: 100%;
  margin: auto;
  height: 94vh;
 
  overflow-y: scroll;
  box-sizing: border-box; 
 
 
 
 
}
.AttendanceMain::-webkit-scrollbar{
  padding: 0;
  width: 0;
  height: 0;
}
.AttendanceSubMain::-webkit-scrollbar{
  padding: 0;
  width: 0;
  height: 0;
}


@media (max-width: 350px) {
    .attendanceTableSearch{
        height: 25px;
            
           
    }
}

.attendanceNewContainer {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px; /* This controls the space between fields */
    padding: 0 00px; /* This adds space on the sides */
    max-width: 1200px; /* Adjust this value as needed */
    margin: 0 auto; /* This centers the container */
  }
  
  /* Below 420px - 1 column */
  @media (max-width: 419px) {
    .attendanceNewContainer {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  /* Between 420px and 767px - 2 columns */
  @media (min-width: 420px) {
    .attendanceNewContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
 